@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    scrollbar-width: none;
  }

.bg1{
    background-image: url(/public/assets/images/bg1.png);
    background-size: cover;
    background-position: center center;
}


@font-face {
    font-family: 'Fira-Code';
    src: url(../fonts/FiraCode-Regular.ttf);
}

.fira{
    font-family: 'Fira-Code';
}